.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1600px;
  height: 100%;
  margin: 0;
}

.formacion-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  padding: 0px;
  width: 650px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.formacion-title-container p {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.formacion-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 200px;
  text-align: left;

}

.formacion-text-container h3 {
  font-weight: 400;
  width: 100%;
  font-size: 20px;
  margin: 0px 0px 1px 0px;
}

.formacion {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.certificados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  text-align: left;
  width: 1400px !important;
  gap: 50px;
}

.certificado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.certificado-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  padding: 0px;
  width: 250px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 20px;
  gap: 10px;
}

.certificado-title-container p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.certificado-title-container img {
  width: 20px;
  height: 20px;
}

.certificado-text-container {
  width: 250px;
}

.certificado-text-container h3 {
  font-weight: 400;
  width: 100%;
  font-size: 14px;
  margin: 0px 0px 1px 0px;
}

@media (max-width: 768px) {
  .contenedor {
    width: 412px;
    height: 100%;
    margin: 0;
  }

  .formacion {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .formacion-title-container {
    width: 360px;
    height: 60px;
    margin-bottom: 20px;
  }

  .formacion-title-container p {
    font-size: 15px;
  }

  .formacion-text-container {
    width: 340px;
    height: 110px;
  }

  .formacion-text-container h3 {
    font-size: 15px;
    margin: 0;
  }

  .certificados {
    display: flex !important;
    width: 400px !important;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }

  .certificado {
    width: 160px;
    height: 190px;
  }

  .certificado h3 {
    width: 160px;
    font-size: 12px;
    margin: 0px;
  }

  .certificado-text-container {
    width: 160px;
    height: 50px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .certificado-title-container {
    width: 160px;
    height: 30px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .certificado-title-container p {
    font-size: 12px;
  }

  .certificado-title-container img {
    width: 15px;
    height: 15px;
  }

  .certificado-text-container {
    font-size: 10px;
    text-align: left;
  }

  .certificado-text-container h3 {
    margin: 0px;
    margin-bottom: 6px;
  }

}