body {
  padding: 1rem;
  text-align: center;
}

section {
  margin-bottom: 130px;
}

.principal {
  margin-bottom: 80px;
}

.principal h1 {
  font-size: 57px;
  color: #2e2e2e;
  margin: 10px;
}

.principal p {
  margin-top: 0;
  font-size: 20px;
  color: #474747;
}


@media (max-width: 1200px) {

  body {
    display: flex;
    justify-content: center;
    text-align: center;

  }

  div {
    text-align: center;
  }

  .principal h1 {
    font-size: 3rem;
  }

  .principal p {
    font-size: 1rem;
  }

  section {
    padding: 0px;
  }
}

@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .principal h1 {
    font-size: 2rem;
  }

  .principal p {
    font-size: 12px;
  }

  section {
    margin-bottom: 65px;
  }
}